.App {
  font-family: sans-serif;
  text-align: center;
}

#tudo {
  background: #343a40;
}

#idt {
  color: white;
  padding-bottom: 1em;
  padding-top: 1em;
}

#principal {
  background-color: white;
}
